/* Container responsivo da tabela */
.table-container {
    width: 100%;
    overflow-x: auto;
}

/* Tabela base para mobile */
table {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    background-color: #1e1e1e;
    box-shadow: 0 0 8px rgba(174, 174, 174, 0.2);
}

/* Cabeçalho e células base */
th,
td {
    font-size: 0.7rem;
    padding: 5px;
    border: 1px solid #fff;
    text-align: left;
}

.id {
    font-size: 0.6rem;
}

/* Estilo para células */
td {
    background-color: #1e1e2f;
    color: #e0e0e0;
}

/* Botões base (mobile) */
.buttonP {
    background-color: rgb(74, 74, 139);
    color: #fff;
    padding: .4rem;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}



.buttonP:hover {
    background-color: #4596c9;
}

.buttonBlack {
    background-color: rgb(34, 34, 209);
    color: #fff;
    
    padding: .4rem;
    border-radius: 6px;
    text-decoration: none;
    
}

.buttonBlack:hover {
    background-color: rgb(20, 20, 188);

}

.delete-button {
    background-color: #d9534f;
    color: #fff;
    padding: .3rem;
    border-radius: 6px;
    border: none;
}

.delete-button:hover {
    background-color: #c9302c;
}


/* Hover padrão */
.button:hover {
    background-color: #666;
}

.ajustar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Botões lado a lado em telas maiores */
@media (min-width: 480px) {
    .button {
        display: inline-block;
        text-align: center;
        max-width:80px;
        margin: 4px 0;
    }

    .button+.button {
        margin-left: 0.5rem;
    }
}

/* Aumenta a legibilidade em telas maiores */
@media (min-width: 768px) {

    th,
    td {
        font-size: 0.8rem;
        padding: 8px;
    }

    .button {
        font-size: 0.875rem;
        padding: 0.4rem 0.75rem;
        max-width: 110px;
        
    }
}