* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

body,
html {
  padding: 0.5rem;
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  background: linear-gradient(90deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232, 1) 100%);
  border-radius: 3rem;
  border: none;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(90deg, rgba(184, 84, 232, 1) 0%, rgba(132, 53, 222, 1) 100%);
}

