#gameover {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

#gameover h2, #gameover p {
    margin-bottom: 1rem;
}

#gameover p {
    color: #8435de;
}

#gameover img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 150px;
}

#gameover button {
    font-size: 1rem;
    margin-bottom: 1rem;
    
}